# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
.idea

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# production
build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.vscode

npm-debug.log*
yarn-debug.log*
yarn-error.log*

creds.json
client/.env
*.iml

server/claudia.alpha.json
*.snap
# Local stack deployment
AMPLIFY
.aws-sam

# scripts output
scripts/output

P61637409/output
globalQueryOutput/

V737790025/*.csv
dist/
FTM/start-process-accountid.json

/globalQueryOutput
